<ion-header-bar class="bar-balanced" align-title="center">
    <a href="#/menuestu" class="button button-icon icon ion-ios-arrow-back"></a>
    <p class="title">Calendario</p>
    <button class="button button-icon ion-ios-plus-outline" ng-click="modal.show()"></button>
</ion-header-bar>

<ion-view>
    <ion-content has-header="true">

        <ul class="list">

            <li class="item item-divider">
                Tareas
            </li>

            <li class="item" ng-show="nueva.listaTarea === true">
                <h3 class="title">No hay tareas pendientes para hoy</h3>
            </li>

            <li class="item item-button-right" ng-repeat="tarea in nueva.tareasEstu">
                <h3 class="title">{{tarea.texto}}</h3>
                <button class="button button-clear button-balanced" ng-click="eliminarTareas(tarea.fila)">
                    <i class="icon ion-ios-close-empty"></i> 
                </button>
            </li>

        </ul>

    </ion-content>
</ion-view>