<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">Nueva Tarea</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
    </ion-header-bar>

    <ion-content class="padding">

        <div class="list list-inset">

            <label class="item item-input">
               <span class="input-label">Tarea</span>
               <input  placeholder="Tarea" type="text" ng-model="nueva.tareatxt">
            </label>

            <label class="item item-input">
               <span class="input-label">Fecha</span>
               <input  type="date" ng-model="nueva.fechatxt">
            </label>

            <button class="button button-block button-balanced" ng-click="agregarTareas()">Crear</button>

            <div class="texto-centrado">
                <p class="title item-text-wrap texto-alerta" ng-model="nueva.mensaje" ng-show="nueva.mensaje === true">
                    Deben estar ambos campos llenos
                </p>
            </div>

        </div>

    </ion-content>

</ion-modal-view>